.producto-detalle{
    display: flex;
}
.add-to-cart input{
    margin-right: 12px;
    width: 60% !important;
}
.add-to-cart a{
    
    width: 30% !important;
}
.productcard{
    margin: 5px;
}
.add-to-cart {
    display: flex;
}
.contenedor-productos{
    margin: 0 auto;
}